[submodule "vim/vim/bundle/pathogen"]
	path = vim/vim/bundle/pathogen
	url = http://github.com/tpope/vim-pathogen.git
[submodule "vim/vim/bundle/surround"]
	path = vim/vim/bundle/surround
	url = http://github.com/tpope/vim-surround.git
[submodule "vim/vim/bundle/supertab"]
	path = vim/vim/bundle/supertab
	url = http://github.com/ervandew/supertab.git
[submodule "vim/vim/bundle/nerdtree"]
	path = vim/vim/bundle/nerdtree
	url = http://github.com/scrooloose/nerdtree.git
[submodule "vim/vim/bundle/a"]
	path = vim/vim/bundle/a
	url = http://github.com/vim-scripts/a.vim.git
[submodule "vim/vim/bundle/sketch"]
	path = vim/vim/bundle/sketch
	url = http://github.com/vim-scripts/sketch.vim.git
[submodule "vim/vim/bundle/taglist"]
	path = vim/vim/bundle/taglist
	url = http://github.com/vim-scripts/taglist.vim.git
[submodule "vim/vim/bundle/tetris"]
	path = vim/vim/bundle/tetris
	url = http://github.com/vim-scripts/TeTrIs.vim.git
[submodule "vim/vim/bundle/fuzzyfinder"]
	path = vim/vim/bundle/fuzzyfinder
	url = http://github.com/vim-scripts/FuzzyFinder.git
[submodule "vim/vim/bundle/l9"]
	path = vim/vim/bundle/l9
	url = http://github.com/vim-scripts/L9.git
[submodule "vim/vim/bundle/quickhl"]
	path = vim/vim/bundle/quickhl
	url = http://github.com/t9md/vim-quickhl.git
[submodule "vim/vim/bundle/omnicppcomplete"]
	path = vim/vim/bundle/omnicppcomplete
	url = http://github.com/vim-scripts/OmniCppComplete.git
